<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    <title>Protospace</title>
  </head>

  <body>
    <div th:insert="~{header :: header}"></div>

    <div class="main">
      <div class="inner">
        <div class="form__wrapper">
          <h2 class="page-heading">ユーザーログイン</h2>
          <form th:action="@{/user/login}" th:object="${loginForm}" th:method="post">
            <div class="field">
              <label for="user_email">メールアドレス</label><br />
              <input
                type="email"
                id="user_email"
                th:field="*{email}"
                autofocus
                autocomplete="email"
              />
              <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></span>
            </div>

            <div class="field">
              <label for="user_password">パスワード（6文字以上）</label><br />
              <input
                type="password"
                id="user_password"
                th:field="*{password}"
                autocomplete="current-password"
              />
              <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></span>
            </div>

            <div class="actions">
              <button type="submit" class="form__btn">ログイン</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div th:insert="~{footer :: footer}"></div>
  </body>
</html>
